In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/atlantico-academy/datasets/main/titanic.csv")
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [3]:
df.to_csv("../data/raw/data.csv", index=False)

In [4]:
dicionario = pd.DataFrame([
    {
        "variavel": "survived",
        "descricao": "Indica se o passageiro sobreviveu ou não",
        "tipo":"qualitativa",
        "subtipo":"nominal"
    },{
        "variavel": "pclass",
        "descricao": "Classe em que o passageiro viajou (1, 2 ou 3)",
        "tipo":"qualitativa",
        "subtipo":"ordinal"
    },{
        "variavel": "sex",
        "descricao": "Gênero do passageiro",
        "tipo":"qualitativa",
        "subtipo":"nominal"
    },{
        "variavel": "age",
        "descricao": "Idade do passageiro",
        "tipo":"quantitativa",
        "subtipo":"contínua"
    },{
        "variavel": "sibsp",
        "descricao": "Número de irmãos ou cônjuge a bordo",
        "tipo":"quantitativa",
        "subtipo":"discreta"
    },{
        "variavel": "parch",
        "descricao": "Número de pais ou filhos a bordo",
        "tipo":"quantitativa",
        "subtipo":"discreta"
    },{
        "variavel": "fare",
        "descricao": "Valor da tarifa paga pelo passageiro",
        "tipo":"quantitativa",
        "subtipo":"contínua"
    },{
        "variavel": "embarked",
        "descricao": "Porto em que o passageiro embarcou",
        "tipo":"qualitativa",
        "subtipo":"nominal"
    },{
        "variavel": "class",
        "descricao": "Classe do passageiro (em ordinal)",
        "tipo":"qualitativa",
        "subtipo":"ordinal"
    },{
        "variavel": "who",
        "descricao": "Categoria do passageiro",
        "tipo":"qualitativa",
        "subtipo":"nominal"
    },{
        "variavel": "adult_male",
        "descricao": "Indica se o passageiro é um homem adulto",
        "tipo":"qualitativa",
        "subtipo":"nominal"
    },{
        "variavel": "deck",
        "descricao": "Deck da cabine do passageiro",
        "tipo":"qualitativa",
        "subtipo":"nominal"
    },{
        "variavel": "embark_town",
        "descricao": "Cidade em que o passageiro embarcou",
        "tipo":"qualitativa",
        "subtipo":"nominal"
    },{
        "variavel": "alive",
        "descricao": "Indica se o passageiro sobreviveu",
        "tipo":"qualitativa",
        "subtipo":"nominal"
    },{
        "variavel": "alone",
        "descricao": "Indica se o passageiro estava sozinho",
        "tipo":"qualitativa",
        "subtipo":"nominal"
    }
])
dicionario.to_csv("../data/external/dictionary.csv", index=False)
dicionario

,variavel,descricao,tipo,subtipo
0,survived,Indica se o passageiro sobreviveu ou não,qualitativa,nominal
1,pclass,"Classe em que o passageiro viajou (1, 2 ou 3)",qualitativa,ordinal
2,sex,Gênero do passageiro,qualitativa,nominal
3,age,Idade do passageiro,quantitativa,contínua
4,sibsp,Número de irmãos ou cônjuge a bordo,quantitativa,discreta
5,parch,Número de pais ou filhos a bordo,quantitativa,discreta
6,fare,Valor da tarifa paga pelo passageiro,quantitativa,contínua
7,embarked,Porto em que o passageiro embarcou,qualitativa,nominal
8,class,Classe do passageiro (em ordinal),qualitativa,ordinal
9,who,Categoria do passageiro,qualitativa,nominal
10,adult_male,Indica se o passageiro é um homem adulto,qualitativa,nominal
11,deck,Deck da cabine do passageiro,qualitativa,nominal
12,embark_town,Cidade em que o passageiro embarcou,qualitativa,nominal
13,alive,Indica se o passageiro sobreviveu,qualitativa,nominal
14,alone,Indica se o passageiro estava sozinho,qualitativa,nominal